@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: #161717;
    color: white;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 450px;
}

.buttons {
    align-self: center;
    display: flex;
    gap: 20px;
}

.google-btn {
    display: flex;
    align-items: center;
    background-color: #4285F4;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 2px;
    cursor: pointer;
}

.google-btn:hover {
    opacity: 0.75;
}
.google-btn span {
    color: white;
    padding: 15px;
    font-weight: 500;
}

.google-btn picture {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn picture img {
    width: 75%;
    
}

.twitter-btn {
    background-color: #dddddd;
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.twitter-btn:hover {
    background-color: darkgrey;
}

.twitter-btn img {
    width: 75%;
}

.separator {
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
}

.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.separator span {
    color: #9e9e9e;
}

.section-inputs {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

label span {
    font-weight: 700;
}

label input {
    width: 90%;
    background-color: #212121;
    color: white;
    border: none;
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    font-size: 14pt;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

label input:hover {
    background-color:#454045;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #ab2322;
}

label input:focus {
    background-color: white;
    color: #1d1d25;
    border: solid 1px #f3f3f4;
    box-shadow: 0 0 4px #ab2322;
}

.checkbox-label {
    flex-direction: row;
    
}

.checkbox-label input[type="checkbox"]{
    width: 20px;
    box-shadow: none;
}

.checkbox-label span {
    font-weight: 400 ;
}

.submit-btn {
    background-color: #ea4c89;
    color: white;
    font-weight: 700;
    font-size: 14pt;
    text-align: center;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.75;
}
