
h1 {
    color: blue;
}

/* Estoy probando colores */
p {
    color: brown;
    font-size: 24px;
}

#primera-noticia {
    color: chartreuse;
}

#segunda-noticia {
    color: cadetblue;
}

.encabezado {
    font-size: 24pt;
    text-transform: uppercase;
}

.warning {
    color: red;
}

.autor, .fecha, .ubicacion {
    text-decoration: underline;
    color: chocolate;
}