/* http://codepen.io/enxaneta/full/adlPwv */ 

.flex {
    display: flex; 
    flex-direction: row;
    background-color: yellow;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}

.contenido1 {
    background-color: aliceblue;
    height: 200px;
    width: 100px;
    border: 1px solid blueviolet;
}

.contenido2 {
    background-color: aliceblue;
    height: 200px;
    width:100px;
    border: 1px solid blueviolet;
}
.contenido3 {
    background-color: fuchsia;
    height: 200px;
    width: 100px;
    border: 1px solid blueviolet;
}