:root {
    --color-principal: rgb(38, 53, 138);
    --ancho-principal: 250px;
    
}

.titulo {
    color: var(--color-principal);
}

.footer {
    color: var(--color-principal);
}

.contenedor {
    background-color: antiquewhite;
    padding: 1rem;
    max-width: var(--ancho-principal);
}
